## Configuration file of video switcher

## MySql database name. database:host
data_source = video_switch:video.perestroike2.net
## Database user
db_user = video_switch
## Database user's password
db_pswd = password 
## Directory for IPC resources (named pipes and message queues)
ipc_dir = /tmp
## Directory where tasks are placed
tasks_dir = /tmp/video_tasks
## Directory to write ffmpeg logs to
ffmpeg_log_dir = ~/.videoswitcher/ffmpeg.logs/
## Directory to write rtmpdump logs to
rtmpdump_log_dir = ~/.videoswitcher/rtmpdump.logs/
## Monitoring temporary
mon_tmp_dir = /home/gavrikov/tmp
## Record file size limit in byte
limit_size=20000000
## Monitoring process wait time in sec
mon_wait_time = 3

